.ReviewBottomResult{
    display: flex;
    gap: 40px;
    margin-top: 24px;
    align-items: flex-start;
    .filterMobileReview{
        top: 32%;
        // bottom: 50%;
        z-index: 2;
        position: absolute;
        left: 0;
 
        width: 100%;
        background-color: #fff;
        display: flex;
        min-width: calc(100% - 48px);
        margin-inline: 24px;
    }
} 