@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixin.scss";

.catchAllPopularProducts {
  margin-top: 100px;

  flex-direction: column;

  @include flexItems(center, center);
  ._btn_1a95r_1 {
    margin-top: 36px;
  }
}
//1024px
@media (max-width: 1024px) {
  .catchAllPopularProducts div:nth-child(1) {
    h2 {
      font-size: map-get($fonts, desktopSize38);
    }
    p {
      font-size: map-get($fonts, paragraph16);
    }
  }
}
//778px
@media (max-width: 778px) {
  .catchAllPopularProducts .helperDivforModule {
    h2 {
      font-size: map-get($fonts, Ipad18);
    }
    p {
      font-size: map-get($fonts, paragraph14);
    }
  }
}
//572px
@media (max-width: 572px) {
  .catchAllPopularProducts .helperDivforModule {
    margin: auto 32px;
  }
}
